html, body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Harmattan', sans-serif;
  //   background-image: url('http://www.publicdomainpictures.net/pictures/50000/velka/paw-prints-1369754041WaV.jpg');
  // background-size: cover;
  // background-position: center;
}

h2 {
  text-align: center;
}

header, h1, h2, h3, h4 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}

header {
  background: yellow;
  height: 90px;
  
}

#logo {
  font-size: 45px;
  padding-left: 20px;
}
