input {
  background-color: lightblue;
  border-radius: 20px;
  border: none;
}
button {
  background-color: lightgreen;
  border-radius: 20px;
  border: none;
}
hr {
  text-align: center;
  color: black;
  width: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Harmattan', sans-serif;
}
h2 {
  text-align: center;
}
header,
h1,
h2,
h3,
h4 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}
header {
  background: yellow;
  height: 90px;
}
#logo {
  font-size: 45px;
  padding-left: 20px;
}
.container {
  padding: 0 20px;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  padding: 0.5em 0;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-12 {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-right: 3%;
}
.col-12:last-child {
  margin-right: 0;
}
.col-11 {
  display: block;
  position: relative;
  float: left;
  width: 91.41666667%;
  margin-right: 3%;
}
.col-11:last-child {
  margin-right: 0;
}
.col-10 {
  display: block;
  position: relative;
  float: left;
  width: 82.83333333%;
  margin-right: 3%;
}
.col-10:last-child {
  margin-right: 0;
}
.col-9 {
  display: block;
  position: relative;
  float: left;
  width: 74.25%;
  margin-right: 3%;
}
.col-9:last-child {
  margin-right: 0;
}
.col-8 {
  display: block;
  position: relative;
  float: left;
  width: 65.66666667%;
  margin-right: 3%;
}
.col-8:last-child {
  margin-right: 0;
}
.col-7 {
  display: block;
  position: relative;
  float: left;
  width: 57.08333333%;
  margin-right: 3%;
}
.col-7:last-child {
  margin-right: 0;
}
.col-6 {
  display: block;
  position: relative;
  float: left;
  width: 48.5%;
  margin-right: 3%;
}
.col-6:last-child {
  margin-right: 0;
}
.col-5 {
  display: block;
  position: relative;
  float: left;
  width: 39.91666667%;
  margin-right: 3%;
}
.col-5:last-child {
  margin-right: 0;
}
.col-4 {
  display: block;
  position: relative;
  float: left;
  width: 31.33333333%;
  margin-right: 3%;
}
.col-4:last-child {
  margin-right: 0;
}
.col-3 {
  display: block;
  position: relative;
  float: left;
  width: 22.75%;
  margin-right: 3%;
}
.col-3:last-child {
  margin-right: 0;
}
.col-2 {
  display: block;
  position: relative;
  float: left;
  width: 14.16666667%;
  margin-right: 3%;
}
.col-2:last-child {
  margin-right: 0;
}
.col-1 {
  display: block;
  position: relative;
  float: left;
  width: 5.58333333%;
  margin-right: 3%;
}
.col-1:last-child {
  margin-right: 0;
}
.push-2 {
  left: calc(16.66666667%);
}
.login {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
}
.login input {
  margin-top: 1px;
  margin-right: 5px;
  height: 15px;
  width: 100px;
}
.signup {
  text-align: center;
}
.signup input {
  height: 15px;
  width: 200px;
}
nav {
  text-align: right;
  padding-right: 20px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
