button {
  background-color: lightgreen;
  border-radius: 20px;
  border: none;
}
hr {
  text-align: center;
  color: lightblue;
  width: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Harmattan', sans-serif;
}
h2 {
  text-align: center;
}
header,
h1,
h2,
h3,
h4 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}
header {
  height: 90px;
  padding-bottom: 5px;
}
#logo {
  font-size: 50px;
  padding-left: 30px;
}
#logo a {
  color: black;
  text-decoration: none;
}
.banner {
  background-image: url('../img/kittysleep2.jpg');
  height: 500px;
  background-size: cover;
  background-position: 30% 30%;
  position: relative;
  z-index: 1;
}
.sign {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.container {
  padding: 0 20px;
}
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  padding: 0.5em 0;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-12 {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-right: 3%;
}
.col-12:last-child {
  margin-right: 0;
}
.col-11 {
  display: block;
  position: relative;
  float: left;
  width: 91.41666667%;
  margin-right: 3%;
}
.col-11:last-child {
  margin-right: 0;
}
.col-10 {
  display: block;
  position: relative;
  float: left;
  width: 82.83333333%;
  margin-right: 3%;
}
.col-10:last-child {
  margin-right: 0;
}
.col-9 {
  display: block;
  position: relative;
  float: left;
  width: 74.25%;
  margin-right: 3%;
}
.col-9:last-child {
  margin-right: 0;
}
.col-8 {
  display: block;
  position: relative;
  float: left;
  width: 65.66666667%;
  margin-right: 3%;
}
.col-8:last-child {
  margin-right: 0;
}
.col-7 {
  display: block;
  position: relative;
  float: left;
  width: 57.08333333%;
  margin-right: 3%;
}
.col-7:last-child {
  margin-right: 0;
}
.col-6 {
  display: block;
  position: relative;
  float: left;
  width: 48.5%;
  margin-right: 3%;
}
.col-6:last-child {
  margin-right: 0;
}
.col-5 {
  display: block;
  position: relative;
  float: left;
  width: 39.91666667%;
  margin-right: 3%;
}
.col-5:last-child {
  margin-right: 0;
}
.col-4 {
  display: block;
  position: relative;
  float: left;
  width: 31.33333333%;
  margin-right: 3%;
}
.col-4:last-child {
  margin-right: 0;
}
.col-3 {
  display: block;
  position: relative;
  float: left;
  width: 22.75%;
  margin-right: 3%;
}
.col-3:last-child {
  margin-right: 0;
}
.col-2 {
  display: block;
  position: relative;
  float: left;
  width: 14.16666667%;
  margin-right: 3%;
}
.col-2:last-child {
  margin-right: 0;
}
.col-1 {
  display: block;
  position: relative;
  float: left;
  width: 5.58333333%;
  margin-right: 3%;
}
.col-1:last-child {
  margin-right: 0;
}
.push-2 {
  left: calc(16.66666667%);
}
.login {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}
.signup {
  text-align: center;
  background: rgba(20, 0, 255, 0.6);
}
nav {
  text-align: right;
  padding-right: 30px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline;
}
.pet-card {
  float: left;
  margin: auto;
  text-align: left;
  border: 2px solid grey;
  border-radius: 3px;
  padding: 2px;
  overflow-y: scroll;
  margin-right: 10px;
  margin-top: 10px;
  height: 150px;
}
.pet-card .card-divider {
  display: block;
  clear: both;
}
.pet-card .card-divider button {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.pet-card .card-data {
  float: left;
  display: inline;
  margin: 0;
}
.pet-card .pet-img {
  border: 2px solid grey;
  border-radius: 3px;
  max-height: 75px;
}
.pet-card .card-list {
  list-style-type: none;
  text-decoration: none;
  margin-left: 5px;
  padding: 0;
}
.love {
  margin: 0;
}
.love h2 {
  text-align: left;
  padding-left: 20px;
}
