<!-- HOME PAGE ERB -->

<div class="container">
  <div class="row">
    <div class="col-12" >
      <form class="login" method="post" action="/login">
        <h3><%= @log_message %></h3>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Log in</button>
      </form>
    </div>   
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12" >
      <h2>Love is just a few clicks away</h2>
    </div>   
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-8 push-2" style="text-align:center;">
      <img src="../img/kittysleep.jpg" />
    </div>   
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="signup" method="post" action="/signup">
          <h2>Sign Up</h2>
          <h3><%= @sign_message %></h3>
          <input type="text" name="username" placeholder="Choose a Username" />
          <input type="password" name="password" placeholder="Choose a Password" />
          <br />
          <input type="password" name="firstname" placeholder="Enter your first name" />
          <input type="password" name="lastname" placeholder="Enter your last name" />
          <br />
          <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
