
<div class="container">
  <div class="row"  style="border: 1px solid red;">
    <div class="col-12" >
      <form class="login" method="post" action="/login">
        <h3><%= @log_message %></h3>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Log in</button>
      </form>
    </div>   
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12" style="border: 2px solid black;">
      <img src="../img/pug.jpg" style="margin-right: auto;" style="margin-left: auto;" />
    </div>   
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-12">
      
      <form class="signup" method="post" action="/signup">
          <h2>Sign Up</h2>
          <h3><%= @sign_message %></h3>
          <input type="text" name="username" placeholder="Choose a Username" />
          <br />
          <input type="password" name="password" placeholder="Choose a Password" />
          <br />
          <input type="password" name="firstname" placeholder="Enter your first name" />
          <br />
          <input type="password" name="lastname" placeholder="Enter your last name" />
          <br />
          <button type="submit">Sign Up</button>
      </form>
    </div>
    
  </div>
</div>



<!-- 
<div class="container">
  <div class="row">

  </div>
</div>
 -->
