<!DOCTYPE html>
<html>
<head>
  <title>PETS</title>
   <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> -->
  <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<%= yield %>


</body>
</html>
