<!-- LAYOUT PAGE THAT YIELDS OTHER CONTENT -->

<!DOCTYPE html>
<html>

<head>
  <title>PETS</title>
   <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> -->
  <link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<div class="container">
  <header class="col-12">
    <div class="col-4">
      <h1 id="logo"><a href="/?">WuvR</a></h1>
    </div>
    <div class="col-4" >
      <form class="login" method="post" action="/login">
        <h3><%= @log_message %></h3>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Log in</button>
      </form>
    </div>   
    <div class="col-4">
      <nav>
        <ul>
          <li><h4>About</h4></li>
          <li><h4>Contact</h4></li>
        </ul>
      </nav>
    </div>
  </header>
</div>  

<%= yield %>

</body>

</html>
