<h1>Welcome, </h1>

<h1>Welcome, <%= name %></h1>

<h2>Seach for your new biddy baby smoodgie pet friend:</h2>
<form action="/pets/" method="get">
  <input type="text" name="type" value="" placeholder="animal type" />
  <input type="text" name="breed" value="" placeholder="breed" />
  <input type="text" name="location" value="" placeholder="zip code" />
  <button>Search!</button>
</form>

Check on your potential beeby boodgies:

