<h1>Welcome</h1>

<h2>Seach for your new biddy baby smoodgie pet friend:</h2>
<form action="/pets/results" method="get">
  <label>What type of googie are you looking for?</label>
  <select name="type" id="animal-select">
    <option selected="selected">All pets</option>
    <option>Dogs</option>
    <option>Cats</option>
    <option>Rabbits</option>
    <option>Small Creatures</option>
    <option>Horses</option>
    <option>Birds</option>
    <option>Fish, Reptiles & Amphibians</option>
    <option>Pigs</option>
    <option>Barnyard</option>
  </select>
  <label>What breed do you need?</label>
  <select id="breed-select">
    <option>Please select an animal type</option>
  </select>
  <label>Where are you looking?</label>
  <input type="text" name="location" placeholder="zip code" />
  <button>Search!</button>
</form>

<h2>Check on your potential beeby boodgies:</h2>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Saved pet info here</h2>
    </div>

    <div class="col-6">
      <h2>Saved pet info here</h2>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/js/breedselect.js"></script>
